Language: Cpp
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Chromium
BreakConstructorInitializers: BeforeComma
ColumnLimit: 119
SortIncludes: true
